[Unit]
Description=$description
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart="$dw_dir/dw" "$build_dir/$build_file" run -a
ExecStartPost="$dw_dir/dw" "$build_dir/$build_file" startpost
ExecStop="$dw_dir/dw" "$build_dir/$build_file" stop
ExecStopPost="$dw_dir/dw" "$build_dir/$build_file" stoppost

[Install]
WantedBy=multi-user.target
